
$light-grey: #cccccc;
$dark-grey: #a3a3a3;
$dark-header-color: #333333;
$white: #ffffff;
$yellow: #ffb619;

//! Header style

$header-social-color: #666666;
$header-nav-color: #393939;

//! about us style
$aboutUs-grey: #cccccc;

//! advantages 
$advantages-head-color: #333333;

//! footer

$footer-social-p-color: #999999;
$footer-code-color: #919191;
$footer-copy-color: #545454;
